.slideshow {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
.slideshow.preload li,
.slideshow.preload .caption {
  transition: none;
}
.slideshow img {
  max-width: 100%;
}
.slideshow li {
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 2s;
  z-index: 1;
}
.slideshow li.show-animation {
  opacity: 1;
  z-index: 2;
}
.slideshow li.show-animation .caption {
  transform: translateY(0);
  transition-delay: 1s;
}
.slideshow li .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #999;
  line-height: 170%;
  text-align: right;
  transform: translateY(100%);
  transition: transform 1s;
}
.slideshow li .caption .title,
.slideshow li .caption .alt {
  display: block;
  padding: 0 20px;
}
.slideshow li .caption .title {
  color: #ccc;
  font-size: x-large;
}
